@charset "UTF-8" ;


html {
    overflow: auto;
}


body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: whitesmoke;
    background-color: #333;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
} 

/* header */
header {
    height: 80px;
    width: 100px;
    padding: 20px 50px;
    top: 0;
    /* position: fixed; */
    filter:alpha(opacity=50);
    /* -moz-opacity: 0.5; */
    /* opacity: 0.5; */
    position: fixed;
    background-color: whitesmoke;
}

.none {
    height: 80px;
    width: 100px;
    padding: 20px 50px;
    top: 0;
    /* position: fixed; */
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    /* position: fixed; */
    /* z-index: 10; */
    top: 0;
    left: 0;
    margin: 0;
    background-color: white;
  
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    /* position: fixed; */
    z-index: 10;
    top: 0;
    left: 0;
    margin: 0;
}


.header-logo img {
    margin: 1px;
    width: 80px;
    height: 80px;
}

.header-navlist {
    /* margin-right: 20px; */
    display: flex;
    justify-content: space-between ;
    align-items: center;
    list-style-type: none;
    padding: 0px;
   
    
}

.header-navitem > a {
    display: block;
    padding: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition:.25s;
    display: inline-block;
    letter-spacing: 0.1em;
    /* margin-bottom: 50px; */
    margin-top: none;
}

.header-navitem > a:hover {
    text-decoration:underline 1px solid black;

}



@media screen and (max-width: 768px){ 
    .header-navlist {
        display: none
    }




}













/* first */
.catchcopy {
    position: relative;    
}


.catchcopy img {
    height: auto;
    width: 100%;
}

@media screen and (max-width: 768px){
    .catchcopy video {
        height: 700px;
        width: 500px;
        object-fit: cover;
    }
}


.catchcopy h1 {
    position: absolute;
    font-size: 90px;
    color: aliceblue;
    left: 50px;
    bottom: 15px;
    letter-spacing: 0.1em;
    border-left: solid 5px floralwhite;
    line-height: 1;
    padding: 7px 0 7px 18px;
    font-family:serif;
}    

h1 span {
    display: block;
    font-size: 30px;
    margin-top: 20px;
    text-align: left;
    letter-spacing: 30px;
    font-weight: lighter;
  }

  @media screen and (max-width: 768px){
    .catchcopy h1{
        font-size:60px;
        left: 3%;
    }

    h1 span {
        font-size: 15px;
    }

    span {
        line-height: 2em;
    }
}


  /* main */
  /* section1 */
  
.section1 {
    padding: 50px 30px;
}

h2 {
    font-size: 50px;
    letter-spacing: 0.1em;
}

.what-img {
    height: 530px;
    width: auto;
}

.what {
    margin: 0;
    display: flex;
    background-color: #252525;
}

.greeting {
    padding-left: 15px;
    margin-top: 50px;
    margin-left: 50px;

}
.what-headline {
    margin: 0 0 30px;
    font-size: 50px;
    color: whitesmoke;
    letter-spacing: 0.3em;
}



@media screen and (max-width: 768px){
    .what {
        display: block;
    }
    .what-img {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .what-headline {
        font-size: 20px;
        text-align: center;
    }
}


.what-description {
    font-size: 20px;
    color: white;
    line-height: 3em;
    letter-spacing: 0.1em;
    font-weight: lighter;
}

.section-headline {
    color: whitesmoke;
    margin-left: 20px;
    line-height: 60%;
}

.section-headline span {
    font-size: 15px;
    margin: 0;
    color: tomato;
    letter-spacing: 0.65em;
    padding-left: 5px;
}




/* section2 */

.section2 {
    padding: 50px 30px;
}
    
.feature-headline {
    color: whitesmoke;
    font-size: 35px;
    letter-spacing: 0.3em;
    font-weight: lighter;
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.feature-img {
    height: auto; 
    width: 570px; 
}

.feature-img-hover {
    max-width: 570px;
    max-height: 570px;
    overflow: hidden;
}

.feature-img-hover :hover {
    transform: scale(1.2);
    transition-duration: 0.3s;

}

.feature {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

.feature-items {
    margin: 20px;
    position: relative;
}

.feature-description {
    font-size: 20px;
    letter-spacing: 0.2em;
    font-weight: border;
    font-family: sans-serif;
}

@media screen and (max-width: 768px){
    .feature {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }


}


/* =================
ハンバーガーボタンの実装
================= */
.hamburger-menu {
    display: none;
}


@media screen and (max-width: 768px){ 
    .hamburger-menu{
        position: relative;
    }
    .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: black;
    }
    .menu-btn:hover {
        cursor: pointer;
    }
    /* 三本線の実装 */
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: "";
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }
    /* チェックボックスを非表示にする */
    #menu-btn-check {
        display: none;
    }
    
    #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(
        255,
        255,
        255,
        0
    ); /*メニューオープン時は真ん中の線を透明にする*/
    }
    
    /* メニューを開いている時はハンバーガーボタンが×になる */
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }


    CSS
    /* =================
    メニュー部分の実装
    ================= */

    .menu-content {
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0;
        /* メニューを外に出しておく */
        left: 100%;

        z-index: 80;
        background-color: black;
        transition: all 0.5s; /*アニメーションを滑らかにする*/
    }
    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color: #ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }

    #menu-btn-check:checked ~ .menu-content {
        left: 30%; /*メニューを画面内へ動かす*/
    }

    /* =================
    メニュー部分の実装
    ================= */
    
    .menu-content {
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0;
        /* メニューを外に出しておく */
        left: 100%;
        
        z-index: 80;
        background-color: black;
        transition: all 0.5s; /*アニメーションを滑らかにする*/
    }
    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color: #ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    
    #menu-btn-check:checked ~ .menu-content {
        left: 30%; /*メニューを画面内へ動かす*/
    }

}






























/* footer */
.footer {
    border-top: solid 0.5px white;
    color: #808080;
    background: #333;
    padding: 30px;
   }
   .footer a {
    color: #808080;
    text-decoration: none;
   }
   .footer li a:hover {
    text-decoration: underline;
   }
   .footer .wrap {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   .footer .wrap h3 {
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: 1px #c4c4c4 solid;
   }
   .footer .wrap p {
    margin: 0;
    padding: 0 0 20px 0;
   }
   .footer .wrap .box {
    width: 22%;
   }
   .footer .wrap .box ul {
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
   }
   .footer .wrap .copyright {
    width: 100%;
    padding: 20px 0 0 0;
   }
   
@media only screen and (max-width: 599px) {
   .footer .wrap {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
   }
   .footer .wrap h3 {
    border: none;
   }
   .footer .wrap .box {
    width: 100%;
   }
   .footer .wrap .box ul {
    border-top: 1px #c4c4c4 solid;
   }
   .footer .wrap .box ul li a {
    display: block;
    padding: 5px 15px;
    border-bottom: 1px #c4c4c4 solid;
   }
}
